sudo: required
language: android
#install: ant deps
jdk: oraclejdk8
before_cache:
- rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
cache:
  directories:
  - "$HOME/.m2"
  - "$HOME/.gradle"
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
android:
  components:
  - platform-tools
  - tools
  - android-29
  - build-tools-29.0.2
  - extra
#before_deploy:
#- cd -
#- sh set_tags.sh

before_install:
  - chmod +x Tetris-Procesos-master/gradlew
  - yes | sdkmanager "platforms;android-29"
script:
  -   - cd Tetris-Procesos-master/
      - chmod +x ./gradlew
 # - ./gradlew clean
  #- ./gradlew assembleDebug
  #- ./gradlew assembleDebugAndroidTest
#script:
 #- sonar-scanner


  #- chmod +x ./gradlew sonarqube
deploy:
  provider: master
  file: Tetris-Procesos-master/app/release/app-release.apk
  skip_cleanup: true
  overwite: true
  on:
    branch: master
    repo: zikram013/grupo8-CalidadCs
    tags: true

    rvm: 2.0.0